*{ border:0px; margin:0px; padding:0px; font-family:calibri, Arial, Sans-Serif;}
body{ width:1023px; margin:auto; background-color:#c5c5c5;}
#header{ height:125px; background-color:#293F7F; background-image:url('images/baniere.jpg');  border-right:1px solid black; border-left:1px solid black;}
    .ddlLangue{ text-align:right;}
#menu{ height:60px; border-right:1px solid black; border-left:1px solid black; border-bottom:1px solid black; }
    #menu ul{float:left; width:100%; height: 100%; padding:0; margin: 0; list-style-type:none; background-image:url('images/fondBoutons.jpg');}
        #menu li{display:inline; width:204px; text-align:center; }
        .premierMenuGauche{background-image:none;}
            #menu a{ line-height:60px; text-decoration:none; font-weight:bold; color:#537EFF; background-image: url('images/bordureMenu.png'); background-repeat:no-repeat;}
            #menu li:hover a{background-color:#537EFF; color:White;}                              
#centre{width:1023px; overflow:auto; margin-top:20px; background:url('images/backgroundCentre.png') repeat-y bottom center;}
    #corps{float:left; background:url('images/backgroundcorps.jpg') repeat-x top center; background-color:#c5cdf2; width: 738px; min-height:360px; padding:20px; padding-left:40px; border-top:1px solid black; border-left:1px solid black; border-right:1px solid black;}
        #corps .TableauAdmin td{width:690px; vertical-align:top; height:50px;}
        #corps .rechercher{float:right; margin-right:20px;}
        #corps .lbRechercher{float:right;margin-right:10px; font-weight:bold;}
        #corps .listeCours{width:500px;}
            #corps .listeSansPoints li{margin-top: 20px;} 
            #corps #imageAccueil{float:right; margin-right:20px;}  
            #corps #texteAccueil{float:left;}
            #corps h1{margin-bottom:10px; margin-right:250px;}                  
        #corps a{ color:#537EFF; text-decoration:none;}
        #corps #tbCours{width:500px; margin-top:10px;}
        #tableauListeCours{width:700px; text-align:center;}
        #corps .boutonMenuCategorie{border:1px solid black; width:75px; height:20px; margin-right:20px;}
    #heureOuverture{float:right; background:url('images/backgroundcorps.jpg') repeat-x top center; width: 208px; height:400px; border-left:1px solid black; border-right:1px solid black; border-top:1px solid black;} 
        #topHeureOuverture{width:208px; height:55px; background-color:#293F7F; text-align:center;}
            #heureOuverture h2{font-size:1.2em; line-height:55px; color:White;}
        #heureOuverture p{margin:0 0 0 40px;}
        #heureOuverture li{margin:5px 0 0 20px;}
        .heure{margin-left: 40px;}   
#contentLeft{float:left; width:370px; } 
.menuFloat{float:left; width:190px; border-right: 1px solid black; height: 340px; margin-top:20px;}
    .menuFloat ul{list-style-type:none;}
        .menuFloat ul li{line-height: 40px; border-bottom:1px solid black; text-align:center; width:180px;}
        .menuFloat ul li a{display:block;}
            .menuFloat ul li a:hover{color:White; background-color:#537EFF;}
#contentRight{float:right; width:508px;}
    #contentRight .itemTemplate{width:235px; border-collapse:collapse; height:20px;}   
#footer{ background-color:#293F7F; width:1021px; height:50px; clear:both; color:White; border-left:1px solid black; border-right:1px solid black; border-bottom:1px solid black; line-height:50px;}
    .right{float:right; margin-right:50px;}
    .left{float:left; margin-left:50px;}
    #footer a{color: White;}
.longeurPremiereColonne{width:260px; text-align:right; padding-right:4px;}
.labelInline{ display:inline;}
.labelInline2{ display:inline;}
.MyCalendar .ajax__calendar_container{background-color:#293F7F; border:1px solid black;}
.MyCalendar .ajax__calendar_header{ text-decoration:underline; font-size:16px; color:white; background-color:#293F7F; font-weight:bold;}
.MyCalendar .ajax__calendar_body{ background-color:#e8ebfa;} 
.MyCalendar .ajax__calendar_days { color:#537EFF; font-size:14px; font-weight:bold; border:2px solid black;}
.MyCalendar .ajax__calendar_day {}
.MyCalendar .ajax__calendar_footer{background-color:#537EFF; visibility:hidden;}
.MyCalendar .ajax__calendar_other{ color:black;}
.MyCalendar .ajax__calendar_active{ background-color:white; }
.MyCalendar .ajax__calendar_hover{background-color:White; color:#537EFF;}                      
